%br
%br
	.newbird{ id:"fixed-div"}
		Add Bird
.row{id:"wire"}
	.large-12.columns.small-centered
		%br
		-@birds.each do |b|
			.birdholder
				.birdcage{id: "#{b.id}"}
					
					
					.bird{class: "#{b.size} #{b.color}"}
						.row
							.eye
							.eye
						
						.row
							.upperBeak
						.row
							.lowerBeak
						.wing{class: "#{b.color}"}
						%br
						%br
					
					.name
						=b.name
					
					.remove{"data-bird-id" => b.id}
						X
						
					
			


-@birds.each do |b|
	.small-4.large-4.columns.small-centered
		.updatebox.hidden{id: "update-#{b.id}"}
			%h2 Update this bird
			=form_for b, remote:true do |f|
				Name
				=f.text_field :name
				=f.select :color, options_for_select([['blue', "blue"],["red", "red"],["yellow", 'yellow']], b.color)
				=f.select :size, options_for_select([["Small", 'small'],["Medium", "medium"],["Large", "large"]] , b.size)
				=f.hidden_field :id 
				=f.submit class: "button tiny"
				.div{class:"button tiny close"} Close this window

















.small-4.large-4.columns.small-centered
	
	.newbox.hidden
		%h2 Add Bird
		=form_for @new_bird, url: birds_path, remote:true, method: :post do |b|
			name:
			=b.text_field :name
			color
			=b.select :color, options_for_select([['Blue', "blue"],["Red", "red"],["Yellow", 'yellow']])
			=b.select :size, options_for_select([["Small", 'small'],["Medium", "medium"],["Large", "large"]])
			=b.submit class: "button tiny"
			.div{class:"button tiny close"} Close this window





